.map {
  position: absolute;
  top: 50px;
  left: 50px;
}

.nations {
  position: absolute;
  top: 50px;
  left: 50px;
}

.PapalButton {
  position:absolute;
  top: 320px;
  left: 305px;
  width: 15px;
  height: 15px;
  background-color:	#F0E68C;
}

.NeapolitanButton {
  position:absolute;
  top: 370px;
  left: 380px;
  width: 15px;
  height: 15px;
  background-color: #8A2BE2;
}

.NeapolitanButton2 {
  position:absolute;
  top: 375px;
  left: 357px;
  width: 15px;
  height: 15px;
  background-color: #8A2BE2;
}

.SardinianButton {
  position:absolute;
  top: 140px;
  left: 138px;
  width: 15px;
  height: 15px;
  background-color: #00FFFF;
}

.TuscanButton {
  position:absolute;
  top: 267px;
  left: 270px;
  width: 15px;
  height: 15px;
  background-color: #BFCC00;
}

.ParmesanButton {
  position:absolute;
  top: 165px;
  left: 235px;
  width: 15px;
  height: 15px;
  background-color: #4169E1;
}

.MassesiButton {
  position:absolute;
  top: 205px;
  left: 237px;
  width: 15px;
  height: 15px;
  background-color: #6B8E23;
}

.ModeneseButton {
  position:absolute;
  top: 190px;
  left: 260px;
  width: 15px;
  height: 15px;
  background-color: #FFFF00;
}

.LucchesiButton {
  position:absolute;
  top: 225px;
  left: 250px;
  width: 15px;
  height: 15px;
  background-color: #ADFF2F;
}

.UPCButton {
  position:absolute;
  top: 250px;
  left: 270px;
  width: 15px;
  height: 15px;
  background-color: #FF8C00;
}

.ItalianButton {
  position:absolute;
  top: 250px;
  left: 270px;
  width: 15px;
  height: 15px;
  background-color: #ADFF2F;
}

.ItalianButton2 {
  position:absolute;
  top: 350px;
  left: 340px;
  width: 15px;
  height: 15px;
  background-color: #ADFF2F;
}

.SwissButton {
  position:absolute;
  top: 60px;
  left: 150px;
  width: 15px;
  height: 15px;
  background-color: #FF0000;
}

.AustrianButton {
  position:absolute;
  top: 100px;
  left: 410px;
  width: 15px;
  height: 15px;
  background-color: #F36D6D;
}

.FrenchButton {
  position:absolute;
  top: 150px;
  left: 80px;
  width: 15px;
  height: 15px;
  background-color: #000080;
}

.OttomanButton {
  position:absolute;
  top: 230px;
  left: 520px;
  width: 15px;
  height: 15px;
  background-color: #006400;
}

.profile {
  position: relative;
  width: 120px;
  height: 160px;
}

label {
    display: inline-block;
    width: 5em;
  }


.event1 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:230px;
  top:200px;
}

.event2 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:230px;
  top:120px;
}

.event3 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:210px;
  top:165px;
}

.event4 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:240px;
  top:120px;
}

.event5 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:210px;
  top:165px;
}

.event6 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:270px;
  top:200px;
}

.event7 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:100px;
  top:100px;
}

.event8 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:400px;
  top:370px;
}

.event9 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:350px;
  top:260px;
}

.event10 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:350px;
  top:100px;
}

.event11 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:320px;
  top:305px;
}

.event12 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:black;
  color:white;
  font-family: "Courier New";
  text-align:center;
  border-radius: 50%;
  left:340px;
  top:325px;
}

.Last {
  position:absolute;
  top: 650px;
  left: 100px;
  width: 100px;
  background-color:grey;
  text-align:center;
  font-size:24px;
}

.Next {
  position:absolute;
  top: 650px;
  left: 450px;
  width: 100px;
  background-color:grey;
  text-align:center;
  font-size:24px;
}



